h1 {
  text-align: center;
}

main {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-gap: 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 6rem;
}
 
header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
 
button {
  padding: 20px;
  font-size: 1.5 rem;
  border-radius: 10% / 50%;
  background-color: #F2B999;
  visibility: visible;
}

body {
  background: #024959;
  color: #F29F05;
}

h3, p {
  margin: 0px;
}

img {
  width: 120px;
  ;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #F2B999;
  padding: 6px;
  font-size: .8rem;
  color: #F29F05;
}