main {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 6rem;
}
 
header {
  display: flex;
  justify-content: center;
}
 
button {
  padding: 20px;
  font-size: 1.5 rem;
  border-radius: 10% / 50%;
  background-color: red;
  visibility: visible;
}

body {
  background: black;
  color: white;
}

h1 {
  text-align: center;
  color: red;
}
