main {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-gap: 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

img {
    width: 120px;
}

body { font-family: sans-serif; }
