


ul {
  display: inline-block;
  padding: 0px;
  margin: 0px;
}

li {
  font-family: inherit;
}

h5 {
  font-size: 18px;
  text-align: justify;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
}



body {
  background:#132B40;
}

img {
  width: 400px;
  display: flex;
  justify-content: center;
  
}

#Pokemon-Header {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
} 

header {
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  color: white;
}



main {
  padding-top: 20px ;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-gap: 7rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 6rem;
  
}

.picDivs {
  width: 178px; 
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-weight: bold;
}

p {
  text-align: center;
  bottom: 0px;
  font-size: 15px;
  line-height: 20px;
}


  /* Card flip action */

  body { font-family: sans-serif; }

.scene {
  width: 200px;
  height: 260px;
  margin: 40px 0;
  perspective: 600px;
  display: flex;
  justify-content: center;
  border-color: #000000;
}


body { font-family: sans-serif; }

.scene {
  width: 180px;
  height: 260px;
  margin: 40px, 0px;
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  border: 5px solid yellow;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face { 
  position: absolute;
  width: 180px;
  height: 260px;
  color:black;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
  
  
}

.card__face--front {
  color: white;
  background-color: #475759;
  width: auto;
  border-radius: 5px;
}

.card__face--back {
  transform: rotateY(180deg);
  color: white
}

button {
 display: flex;
 justify-content: flex-start;
 text-align: center;
  width: 150px;
  height: 80px;
  background-color: #475759;
  color: white;
  font-size: 1.5em;
  border-radius: 10px;
  margin: 20px;
}

.picBack {
    max-width: 180px;
  opacity: 0.2;
  display: block;
  margin-block-start: -11.9rem;
  margin-left: auto;
  margin-right: auto;
}
